.awssld__container figure, .awssld__content, .awssld__box{
    height: 95%;
}
.awssld {
    --slider-height-percentage: 45%;
}
.awssld__controls button{
    top:30%
}
.awssld__bullets{
    bottom: 10px
}

@media (max-width: 520px){
    .awssld__bullets {
        bottom: 0px
    }
    .awssld__bullets button {
        width: 10px;
        height: 10px;
    }
}
