@tailwind base;
@tailwind components;
@tailwind utilities;

.subheading{
    text-align: center;
    font-style: italic;
    color: #2563EB;
    letter-spacing: 1px;
}
.shadow-button{
    transition: 0.2s ease-in-out;
}
.shadow-button:hover{
    box-shadow: 0 0 0.5rem white;
}


/* #2563EB */