@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    color-scheme: light;
}
body{
    font-family: 'Lato', sans-serif;
}

.subheading{
    text-align: center;
    font-style: italic;
    color: #2563EB;
    letter-spacing: 1px;
}
.shadow-button, .become-instructor{
    transition: 0.2s ease-in-out;
}
.shadow-button:hover{
    box-shadow: 0 0 0.5rem white;
}

.become-instructor:hover{
    box-shadow: 0 0 0.8rem #8EA6EB;
}
